.card {
    background-color: var(--color-surface);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    transition: border-color var(--transition-fast);
}

.card:hover {
    border-color: #bbbbbb;
}

.md {
    padding: var(--space-md);
}

.lg {
    padding: var(--space-lg);
}

.sm {
    padding: var(--space-sm);
}